/* .mainCard {
    display: flex;
    justify-content: center;
}

.cards {
    display:flex;
    flex-direction: column;
    outline: 5px;
    border: solid 5px black;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
    max-width: 3px;
    padding: 50px 30px;
}

/* .cardImage {
    width: 80px;
    height: 80px;
} */ 

.mainCard{
    display:flex;
    justify-content: center;
}

.cards{
    border: 8px outset black;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 20px;
}

.cardImage{
    width: 300px;
    height: 300px;
}

.cardTitle{
    font-size: 22px;
    margin: 0 0 0 7px;
}

.cardSubTitle{
    font-size: 15px;
    margin: 0 0 0 7px
}