.navbar {
    display:flex;
    background-color:  #d9d9d9;
}

.navbarHomeFather{
    background-color: #5889cb;
    color: #ffff;
    padding: 11px;
}

.navbarHome {
    text-decoration: none;
    color: #000000;
}

.navbarChild {
    padding: 11px;
    text-decoration: none;
    color: #000000;
}


.navbarChildLogin{
    padding: 11px;
    margin: 0 0 0 1100px;
}

.navbarChildSignup{
    padding: 11px;
}

.disableLink {
    pointer-events: none;
    color: #575555;
}