.navbar {
    display:flex;
    background-color:  #d9d9d9;
}

.navbarHomeFather{
    background-color: #5889cb;
    color: #ffff;
    padding: 11px;
}

.navbarChild {
padding: 11px;
}

.navbarChildLogin{
    padding: 11px;
    margin: 0 0 0 1100px;
}

.navbarChildSignup{
    padding: 11px;
}